@import 'tailwindcss';
@import '@tszhong0411/ui/styles/preset.css';
@import '@tszhong0411/ui/styles/shiki.css';
@import '@tszhong0411/ui/styles/typography.css';
@source '../../node_modules/@tszhong0411/ui/dist/**/*.js';

@theme {
  --height-footer: 64px;
  --height-header: 60px;
  --height-page: calc(100vh - var(--height-footer));
  --height-content: calc(
    var(--height-page) - var(--height-header) - calc(var(--spacing) * 40 - var(--height-header))
  );

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
